<div class="odontograma-container">
    <!-- <h3 class="title">Odontograma</h3> -->
    <div class="grid-container">
      <!-- Dientes superiores -->
      <div class="row">
        <div
          class="tooth"
          *ngFor="let tooth of teethUpper"
          (click)="selectTooth(tooth)"
          [ngClass]="{ 'selected': selectedTooth === tooth }"
        >
          {{ tooth }}
        </div>
      </div>
      <!-- Espacio entre superiores e inferiores -->
      <div class="row spacer"></div>
      <!-- Dientes inferiores -->
      <div class="row">
        <div
          class="tooth"
          *ngFor="let tooth of teethLower"
          (click)="selectTooth(tooth)"
          [ngClass]="{ 'selected': selectedTooth === tooth }"
        >
          {{ tooth }}
        </div>
      </div>
    </div>
  
    <!-- <div *ngIf="selectedTooth" class="details-panel">
      <h4>Diente seleccionado: {{ selectedTooth }}</h4>
      <label for="status">Estado:</label>
      <select id="status" [(ngModel)]="toothStatus[selectedTooth]">
        <option value="sano">Sano</option>
        <option value="cariado">Cariado</option>
        <option value="restaurado">Restaurado</option>
        <option value="ausente">Ausente</option>
      </select>
      <button (click)="saveToothStatus()">Guardar</button>
    </div> -->
  </div>

  <div class="contenedor-tabla table-responsive">
    <div class="col-lg-12">
      <filter-tab
        [loading]="loading && request"
        [arrFiltros]="arrFiltros"
        (setFilters)="setFilters($event)"
        (cleanFilters)="cleanFilters()"
      ></filter-tab>
      <app-ph-table [loading]="loading || request"></app-ph-table>
      <div *ngIf="!loading && !request" class="tabla-cuerpo">
        <table class="table table-striped tabla-estilos">
          <thead>
            <tr>
              <th scope="col">N°</th>
              <th scope="col"><div class="d-flex">Diente</div></th>
              <th scope="col">
                <div class="d-flex">Fecha registro</div>
              </th>
              <th scope="col">
                <div class="d-flex">Cara</div>
              </th>
              <th scope="col"><div class="d-flex">Diagnóstico</div></th>
              <th scope="col">
                <div class="contenedor-btn-acciones">Acción</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let hc of srvOdontograma.Odontograma;
                let i = index;
                let indice = index
              "
            >
              <th>{{ indice + 1 }}</th>
              <td>
                {{ hc.int_odo_diente }}
              </td>
              <td>
                {{ hc.dt_odo_fecha_registro }}
              </td>
              <td>{{ hc.str_odo_cara }}</td>
              <td>{{ hc.str_odo_diagnostico }}</td>
              <!-- <td *ngIf="hc.str_con_estado === 'ACTIVO'">
                <div class="pill pill-success">
                  {{ hc.str_con_estado }}
                </div>
              </td>
              <td *ngIf="hc.str_con_estado === 'INACTIVO'">
                <span class="pill pill-danger">{{
                    hc.str_con_estado
                }}</span>
              </td> -->
              <td>
                <div class="contenedor-btn-acciones">
                  <button
                    type="button"
                    class="btnDefault editar btn btn-warning"
                    (click)="
                      seleccionarInput(
                        'editarOdonto',
                        hc,
                        'Diente N° '+hc.int_odo_diente
                      )
                    "
                  >
                    <i class="material-icons">edit</i>
                  </button>
                  <button
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Activar Cobertura"
                    type="button"
                    class="btn btn-warning btnDefault editar"
                    (click)="
                      eliminar(
                        hc.id_odo_odontograma
                      )
                    "
                  >
                    <!-- <i class="material-icons">cached</i>
                  </button>
                  <button
                    data-bs-toggle="tooltip"
                    data-bs-placement="left"
                    title="Desactivar Cobertura"
                    type="button"
                    class="btnDefault eliminar btn btn-danger"
                    *ngIf="hc.str_con_estado === 'ACTIVO'"
                    (click)="
                      cambiarEstado(
                        hc.id_con_consulta,
                        hc.str_con_estado
                      )
                    "
                  > -->
                    <i class="material-icons">delete</i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        *ngIf="!loading && !request && odontograma.length <= 0"
        class="d-flex w-100"
      >
        <div class="mx-auto" style="margin-top: 64px; margin-bottom: 64px">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            width="32"
            viewBox="0 0 48 48"
          >
            <path
              d="M38.7 40.85 26.65 28.8q-1.5 1.3-3.5 2.025-2 .725-4.25.725-5.4 0-9.15-3.75T6 18.75q0-5.3 3.75-9.05 3.75-3.75 9.1-3.75 5.3 0 9.025 3.75 3.725 3.75 3.725 9.05 0 2.15-.7 4.15-.7 2-2.1 3.75L40.95 38.7q.45.4.45 1.025 0 .625-.5 1.125-.45.45-1.1.45-.65 0-1.1-.45Zm-19.85-12.3q4.05 0 6.9-2.875Q28.6 22.8 28.6 18.75t-2.85-6.925Q22.9 8.95 18.85 8.95q-4.1 0-6.975 2.875T9 18.75q0 4.05 2.875 6.925t6.975 2.875Z"
            />
          </svg>
          <h5 class="mt-2">Resultado sin datos</h5>
          <h6>No se encontraron elementos para esta lista.</h6>
        </div>
      </div>
      <pagination
        [dataLength]="
        srvOdontograma.Odontograma && (srvOdontograma.Odontograma.length || 0)
        "
        [metadata]="metadata"
        [currentPage]="currentPage"
        (nextPage)="nextPage($event)"
      ></pagination>
    </div>
  </div>
  