<container-element [ngSwitch]="tipoVista">
  <div *ngSwitchCase="'uno'">
    <div class="pacientes-contenedor mt-3">
      <!-- HEADER / TITULO Y BOTONES -->
      <div style="display: grid; grid-template-columns: 1fr 1fr">
        <div class="btnAgregar d-flex justify-content-between mb-4">
          <div class="titulo">
            <h5>Lista de <span>Pacientes </span></h5>
            <h6>Datos Estadisticos Globales</h6>
          </div>
        </div>
        <div class="contenedor-botones d-flex justify-content-end">
          <button class="btn btn-continuar mb-5" (click)="agregarPaciente()">
            <i class="material-icons">add</i>
            Nuevo Paciente
          </button>
        </div>
      </div>
      <hr />
    </div>

    <app-mostrar-paciente></app-mostrar-paciente>
  </div>

  <div *ngSwitchCase="'dos'">
    <div class="pacientes-contenedor mt-3">
      <button class="btn btn-continuar mb-5" (click)="seleccionarVista('uno')">
        <i class="material-icons">west</i>
        Regresar
      </button>
      <!-- HEADER / TITULO Y BOTONES -->
      <div style="display: grid; grid-template-columns: 1fr 1fr">
        <div class="btnAgregar d-flex justify-content-between mb-4">
          <div class="titulo">
            <h5>Gestion de <span>Pacientes</span></h5>
            <h6>{{ titleModal }}</h6>
          </div>
        </div>
        <div
          class="contenedor-botones d-flex justify-content-end"
          *ngIf="this.menuTabsSelected === 2"
        >
          <button-modal
            [tipoModal]="'nuevoHistorial'"
            [titleModal]="'Nuevo Historial Paciente'"
            [contenido]="'Nuevo Historial Paciente'"
            [conIcono]="true"
            [icono]="'add'"
            [color]="'#1c1917'"
          >
          </button-modal>
        </div>
      </div>
      <hr />

      <!-- tabla mostrar Informacion Pacientes-->

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            [routerLink]="'/' + baseUrl + '/pacientes/info_personal'"
            class="nav-link {{ this.menuTabsSelected === 0 ? 'active' : '' }}"
            id="nav-vencer-tab"
            type="button"
          >
            Información Personal
          </button>

          <button
            [routerLink]="'/' + baseUrl + '/pacientes/info_medica'"
            class="nav-link {{ this.menuTabsSelected === 1 ? 'active' : '' }}"
            id="nav-vencer-tab"
            type="button"
          >
            Informacion Médica
          </button>

          <button
            [routerLink]="'/' + baseUrl + '/pacientes/historial_consulta'"
            class="nav-link {{ this.menuTabsSelected === 2 ? 'active' : '' }}"
            id="nav-vencer-tab"
            type="button"
          >
            Historial de Consulta
          </button>
        </div>
      </nav>

      <div *ngIf="this.menuTabsSelected === 0">
        <container-element [ngSwitch]="tipoFormulario">
          <!-- the same view can be shown in more than one case -->
          <div *ngSwitchCase="'nuevoPaciente'">
            <app-agregar-paciente></app-agregar-paciente>
          </div>

          <div *ngSwitchCase="'editarPaciente'">
            <app-editar-paciente></app-editar-paciente>
          </div>

          <div *ngSwitchCase="'clear'"></div>
        </container-element>
      </div>

      <div *ngIf="this.menuTabsSelected === 1">
        <h1>Informacion medica</h1>
      </div>

      <div *ngIf="this.menuTabsSelected === 2">
        <h1>Historial de consultas</h1>
      </div>
    </div>
  </div>
</container-element>
