<form autocomplete="off" novalidate>
    <div class="row">
      <!-- Campo: Número de Diente -->
      <div class="col-6 ps-2 mt-4 contentenedor-control">
        <div class="form-group col">
          <label>Número de Diente</label>
          <input 
            type="number" 
            class="form-control" 
            id="diente" 
            value="36" 
             />
        </div>
      </div>
  
      <!-- Campo: Cara -->
      <div class="col-6 pe-2 mt-4 contentenedor-control">
        <div class="form-group col">
          <label>Cara del Diente</label>
          <input 
            type="text" 
            class="form-control" 
            id="cara" 
            value="Mesial" 
             />
        </div>
      </div>
  
      <!-- Campo: Diagnóstico -->
      <div class="col-6 ps-2 mt-4 contentenedor-control">
        <div class="form-group col">
          <label>Diagnóstico</label>
          <input 
            type="text" 
            class="form-control" 
            id="diagnostico" 
            value="Carie" 
             />
        </div>
      </div>
  
      <!-- Campo: Fecha de Registro -->
      <div class="col-6 ps-2 mt-4 contentenedor-control">
        <div class="form-group col">
          <label>Fecha de Registro</label>
          <input 
            type="date" 
            class="form-control" 
            id="fechaRegistro" 
            value="2024-12-04" 
             />
        </div>
      </div>
    </div>
  </form>
  