<form autocomplete="off" [formGroup]="myForm" novalidate>
    <div class="row">
        <div class="col-6 pe-2 mt-4 contentenedor-control">
            <div class="form-group col">
                <label>Nombre </label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre del Proceso" formControlName="str_proc_nombre" />
                <div class="alert alert-danger mt-2 control-error" *ngIf="
                  myForm.get('str_proc_nombre')!.hasError('required') &&
                  myForm.get('str_proc_nombre')!.touched
                ">
                    Este campo es requerido.
                </div>
            </div>
            
        </div>
        <div class="col-6 pe-2 mt-4 contentenedor-control">
            <div class="form-group col">
                <label>Descripción </label>
                <input type="text" class="form-control" id="descripcion" placeholder="Descripción del proceso" formControlName="str_proc_descripcion" />
                <div class="alert alert-danger mt-2 control-error" *ngIf="
                  myForm.get('str_proc_descripcion')!.hasError('required') &&
                  myForm.get('str_proc_descripcion')!.touched
                ">
                    Este campo es requerido.
                </div>
            </div>
            
        </div>

        <!-- <div class="col-6 pe-2 mt-4 contentenedor-control">
            <div class="form-group col">
                <label>Costo </label>
                <input type="money" class="form-control" id="descripcion" placeholder="Costo del proceso" formControlName="num_proc_costo" />
                <div class="alert alert-danger mt-2 control-error" *ngIf="
                  myForm.get('num_proc_costo')!.hasError('required') &&
                  myForm.get('num_proc_costo')!.touched
                ">
                    Este campo es requerido.
                </div>
            </div>
        </div> -->
        <div class="col-6 pe-2 mt-4 contentenedor-control">
            <div class="form-group col">
              <label>Costo </label>
              <input type="text" class="form-control" id="num_proc_costo" placeholder="Costo del proceso" formControlName="num_proc_costo" />
              <div class="alert alert-danger mt-2 control-error" *ngIf="
                myForm.get('num_proc_costo')!.hasError('required') &&
                myForm.get('num_proc_costo')!.touched
              ">
                Este campo es requerido.
              </div>
              <div class="alert alert-danger mt-2 control-error" *ngIf="
                myForm.get('num_proc_costo')!.hasError('invalidNumber') &&
                myForm.get('num_proc_costo')!.touched
              ">
                Por favor, ingrese un número válido.
              </div>
              <div class="alert alert-danger mt-2 control-error" *ngIf="
                myForm.get('num_proc_costo')!.hasError('invalidAmount') &&
                myForm.get('num_proc_costo')!.touched
              ">
                El monto debe ser mayor que 0.
              </div>
              <div class="alert alert-danger mt-2 control-error" *ngIf="
                myForm.get('num_proc_costo')!.hasError('invalidDecimal') &&
                myForm.get('num_proc_costo')!.touched
              ">
                El monto debe tener como máximo dos dígitos decimales.
              </div>
            </div>
          </div>

        <div class="d-flex justify-content-center contendor-botones mt-4">
            <button class="btn-continuar btn btn-h" [disabled]="!myForm.valid" (click)="agregarProceso()">
                Agregar Proceso
            </button>
        </div>
    </div>
</form>
