<!--
    - #HEADER
  -->

<header class="header-home">
  <div class="header-top">
    <div class="container">
      <ul class="contact-list">
        <li class="contact-item">
          <i name="mail-outline"></i>

          <a href="mailto:info@example.com" class="contact-link">info</a>
        </li>

        <li class="contact-item">
          <i name="call-outline"></i>

          <a href="tel:+917052101786" class="contact-link"> +593 99 665 0158</a>
        </li>
      </ul>

      <!-- <ul class="social-list">
        <li>
          <a href="#" class="social-link">
            <i class="material-icons">swap_horiz</i>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <i class="material-icons">swap_horiz</i>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <i class="material-icons">swap_horiz</i>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <i class="material-icons">swap_horiz</i>
          </a>
        </li>
      </ul> -->
    </div>
  </div>

  <div class="header-bottom" data-header>
    <div class="container">
      <a href="#" class="logo">ENDOsolutions.</a>

      <nav class="navbar container" data-navbar>
        <ul class="navbar-list">
          <li>
            <a href="#home" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li>
            <a href="#service" class="navbar-link" data-nav-link>Services</a>
          </li>

          <li>
            <a href="#about" class="navbar-link" data-nav-link>About Us</a>
          </li>

          <li>
            <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
          </li>

          <li>
            <a href="#cta" class="navbar-link" data-nav-link>Contact</a>
          </li>
        </ul>
      </nav>

      <button class="btnl" (click)="autenticar()">Iniciar</button>

      <button class="nav-toggle-btn" (click)="autenticar()" aria-label="Toggle menu" data-nav-toggler>
        <!-- <i class="material-icons">swap_horiz</i>
        <i class="material-icons">swap_horiz</i> -->
        Iniciar
      </button>
    </div>
  </div>
</header>

<main>
  <article>
    <!--
        - #HERO
      -->

    <section
      class="section hero"
      id="home"
      style="background-image: url('./assets/images/hero-bg.png')"
      aria-label="hero"
    >
      <div class="container">
        <div class="hero-content">
          <p class="section-subtitle">Bienvenido a ENDO Solutions</p>

          <h1 class="h1 hero-title">El mejor consultorio odontológico de Riobamba</h1>

          <p class="hero-text">
            Ofrecemos una amplia gama de servicios, desde odontología preventiva y tratamientos de endodoncia especializados hasta estética dental, diseñados para resaltar tu sonrisa y mejorar tu calidad de vida. Nuestro compromiso con la excelencia nos impulsa a utilizar los materiales más avanzados y técnicas innovadoras, asegurando soluciones duraderas y mínimamente invasivas.
          </p>

          <!-- <form action="" class="hero-form">
            <input
              type="email"
              name="email_address"
              aria-label="email"
              placeholder="Your Email Address..."
              required
              class="email-field"
            />

            <button type="submit" class="btnl">Get Call Back</button>
          </form> -->
        </div>

        <figure class="hero-banner">
          <img
            src="./assets/images/hero-banner.png"
            width="587"
            height="839"
            alt="hero banner"
            class="w-100"
          />
        </figure>
      </div>
    </section>

    <!--
        - #SERVICE
      -->

    <section class="section service" id="service" aria-label="service">
      <div class="container">
        <p class="section-subtitle text-center">Nuestros Servicios</p>

        <h2 class="h2 section-title text-center">¿Qué ofrecemos?</h2>

        <ul class="service-list">
          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-1.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Periodoncia</h3>

                <p class="card-text">
                  Diagnóstico y tratamiento de enfermedades de las encías y tejidos de soporte dental.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-2.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Odontopediatría</h3>

                <p class="card-text">
                  Atención dental especializada para niños.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-3.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Ortodoncia</h3>

                <p class="card-text">
                  Corrección de malposiciones dentales y problemas de mordida mediante brackets.
                </p>
              </div>
            </div>
          </li>

          <li class="service-banner">
            <figure>
              <img
                src="./assets/images/service-banner.png"
                width="409"
                height="467"
                loading="lazy"
                alt="service banner"
                class="w-100"
              />
            </figure>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-4.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Urgencias Odontológicas</h3>

                <p class="card-text">
                  Atención inmediata para tratar dolor agudo, infecciones o traumatismos dentales.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-5.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Limpieza Dental</h3>

                <p class="card-text">
                  Eliminación de placa bacteriana y sarro acumulado para prevenir caries y enfermedades periodontales.
                </p>
              </div>
            </div>
          </li>

          <li>
            <div class="service-card">
              <div class="card-icon">
                <img
                  src="./assets/images/service-icon-6.png"
                  width="100"
                  height="100"
                  loading="lazy"
                  alt="service icon"
                  class="w-100"
                />
              </div>

              <div>
                <h3 class="h3 card-title">Implantes Dentales</h3>

                <p class="card-text">
                  Sustitución de dientes perdidos, ofreciendo una solución permanente y estética.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!--
        - #ABOUT
      -->

    <section class="section about" id="about" aria-label="about">
      <div class="container">
        <figure class="about-banner">
          <img
            src="./assets/images/about-banner.png"
            width="470"
            height="538"
            loading="lazy"
            alt="about banner"
            class="w-100"
          />
        </figure>

        <div class="about-content">
          <p class="section-subtitle">Sobre Nosotros</p>

          <h2 class="h2 section-title">Cuidamos tu salud dental</h2>

          <p class="section-text section-text-1">
            En ENDO Solutions, entendemos la importancia de una sonrisa saludable y su impacto en tu confianza. Por eso, trabajamos contigo para desarrollar planes de tratamiento personalizados que se adapten a tus necesidades únicas. Confía en nosotros para transformar tu sonrisa y proteger tu salud dental a largo plazo.
          </p>

          <p class="section-text">
            ¡Descubre cómo podemos ayudarte a sonreír con confianza! Agenda tu cita hoy mismo y da el primer paso hacia una salud dental excepcional. En ENDO Solutions, tu sonrisa es nuestra prioridad.
          </p>

          <!-- <a href="#" class="btnl">Read more</a> -->
        </div>
      </div>
    </section>

    <!--
        - #DOCTOR
      -->

    <!-- <section class="section doctor" aria-label="doctor">
      <div class="container">
        <p class="section-subtitle text-center">Nuestros Doctores</p>

        <h2 class="h2 section-title text-center">Conoce a nuestros Expertos</h2>

        <ul class="has-scrollbar">
          <li class="scrollbar-item">
            <div class="doctor-card">
              <div
                class="card-banner img-holder"
                style="--width: 460; --height: 500"
              >
                <img
                  src="./assets/images/doctor-1.png"
                  width="460"
                  height="500"
                  loading="lazy"
                  alt="Howard Holmes"
                  class="img-cover"
                />
              </div>

              <h3 class="h3">
                <a href="#" class="card-title">Henry Valverde</a>
              </h3>

              <p class="card-subtitle">Dent</p>

              <ul class="card-social-list">
                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="doctor-card">
              <div
                class="card-banner img-holder"
                style="--width: 460; --height: 500"
              >
                <img
                  src="./assets/images/doctor-2.png"
                  width="460"
                  height="500"
                  loading="lazy"
                  alt="Ella Thompson"
                  class="img-cover"
                />
              </div>

              <h3 class="h3">
                <a href="#" class="card-title">Ella Thompson</a>
              </h3>

              <p class="card-subtitle">Dentist</p>

              <ul class="card-social-list">
                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="doctor-card">
              <div
                class="card-banner img-holder"
                style="--width: 460; --height: 500"
              >
                <img
                  src="./assets/images/doctor-3.png"
                  width="460"
                  height="500"
                  loading="lazy"
                  alt="Vincent Cooper"
                  class="img-cover"
                />
              </div>

              <h3 class="h3">
                <a href="#" class="card-title">Vincent Cooper</a>
              </h3>

              <p class="card-subtitle">Dentist</p>

              <ul class="card-social-list">
                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="doctor-card">
              <div
                class="card-banner img-holder"
                style="--width: 460; --height: 500"
              >
                <img
                  src="./assets/images/doctor-4.png"
                  width="460"
                  height="500"
                  loading="lazy"
                  alt="Danielle Bryant"
                  class="img-cover"
                />
              </div>

              <h3 class="h3">
                <a href="#" class="card-title">Danielle Bryant</a>
              </h3>

              <p class="card-subtitle">Dentist</p>

              <ul class="card-social-list">
                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>

                <li>
                  <a href="#" class="card-social-link">
                    <i class="material-icons">swap_horiz</i>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section> -->

   

    <!--
        - #BLOG
      -->

    <section class="section blog" id="blog" aria-label="blog">
      <div class="container">
        <p class="section-subtitle text-center">Nuestro Blog</p>

        <h2 class="h2 section-title text-center">Últimos Blogs y Noticias</h2>

        <ul class="blog-list">
          <li>
            <div class="blog-card">
              <figure
                class="card-banner img-holder"
                style="--width: 1180; --height: 800"
              >
                <img
                  src="./assets/images/art1.jpg"
                  width="1180"
                  height="800"
                  loading="lazy"
                  alt="Cras accumsan nulla nec lacus ultricies placerat."
                  class="img-cover"
                />

                <div class="card-badge">
                  <!-- <i class="material-icons">swap_horiz</i> -->

                  <time class="time" datetime="2024-09-01"
                    >01 Septiembre 2024</time
                  >
                </div>
              </figure>

              <div class="card-content">
                <h3 class="h3">
                  <a href="https://www.instagram.com/p/C_ZhJgDtDZp/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank" class="card-title"
                    >Artículo publicado en la Restorative Dentistry & Endodontics.</a
                  >
                </h3>

                <p class="card-text">
                  Está disponible de forma gratuita en el número de Agosto de la RDE.
                </p>

                <a href="https://www.instagram.com/p/C_ZhJgDtDZp/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="card-link" target="_blank">Leer Más</a>
              </div>
            </div>
          </li>

          <li>
            <div class="blog-card">
              <figure
                class="card-banner img-holder"
                style="--width: 1180; --height: 800"
              >
                <img
                  src="./assets/images/art2.png"
                  width="1180"
                  height="800"
                  loading="lazy"
                  alt="Dras accumsan nulla nec lacus ultricies placerat."
                  class="img-cover"
                />

                <div class="card-badge">
                  <!-- <i class="material-icons">swap_horiz</i> -->

                  <time class="time" datetime="2024-11-18"
                    >18 Noviembre 2024</time
                  >
                </div>
              </figure>

              <div class="card-content">
                <h3 class="h3">
                  <a href="https://www.instagram.com/p/DCiBIZeJb-O/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="card-title"
                    >Uso de láser en Endodoncia y otras aplicaciones.</a
                  >
                </h3>

                <p class="card-text">
                  Conferencia a cargo del Dr. Henry Valverde y la presentación de casos clínicos y su aplicación en cirugía.
                </p>

                <a href="https://www.instagram.com/p/DCiBIZeJb-O/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="card-link">Leer Más</a>
              </div>
            </div>
          </li>

          <li>
            <div class="blog-card">
              <figure
                class="card-banner img-holder"
                style="--width: 1180; --height: 800"
              >
                <img
                  src="./assets/images/art3.jpg"
                  width="1180"
                  height="800"
                  loading="lazy"
                  alt="Seas accumsan nulla nec lacus ultricies placerat."
                  class="img-cover"
                />

                <div class="card-badge">
                  <!-- <i class="material-icons">swap_horiz</i> -->

                  <time class="time" datetime="2023-04-15"
                    >15 Abril 2023</time
                  >
                </div>
              </figure>

              <div class="card-content">
                <h3 class="h3">
                  <a href="https://www.instagram.com/p/CrD4h4jLFCv/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="card-title"
                    >Actualización Científica, Protocolos Clínicos en Odontologia 2023.</a
                  >
                </h3>

                <p class="card-text">
                  Participación en la conferencia internacional.
                </p>

                <a href="https://www.instagram.com/p/CrD4h4jLFCv/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" class="card-link">Leer Más</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </article>
</main>
 <!--
        - #CITA
      -->

      <section class="section cta" aria-label="cta" id="cta">
        <div class="container">
          <figure class="cta-banner">
            <img
              src="./assets/images/cta-banner.png"
              width="1056"
              height="1076"
              loading="lazy"
              alt="cta banner"
              class="w-100"
            />
          </figure>
  
          <div class="cta-content">
            <p class="section-subtitle">Reservar tu cita</p>
  
            <h2 class="h2 section-title">Estamos abiertos y damos la bienvenida a nuestros pacientes</h2>
  
            <a href="https://wa.link/5xz6yt" class="btnl" target="_blank">Reservar cita</a>
          </div>
        </div>
      </section>
<!--
    - #FOOTER
  -->

<footer class="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="footer-brand">
        <a href="#" class="logo">ENDO solutions.</a>

        <p class="footer-text">
          ¡Descubre cómo podemos ayudarte a sonreír con confianza! Agenda tu cita hoy mismo y da el primer paso hacia una salud dental excepcional. En ENDO Solutions, tu sonrisa es nuestra prioridad.
        </p>

        <div class="schedule">
          <div class="schedule-icon">
            <i class="material-icons">calendar_month</i>
          </div>

          <span class="span">
            Lunes - Sábado:<br />
            8:00am - 7:00Pm
          </span>
        </div>
      </div>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Otros Links</p>
        </li>

        <li>
          <a href="#home" class="footer-link">
            <i class="material-icons">home</i>

            <span class="span">Home</span>
          </a>
        </li>

        <li>
          <a href="#about" class="footer-link">
            <i class="material-icons">more</i>

            <span class="span">About Us</span>
          </a>
        </li>

        <li>
          <a href="#service" class="footer-link">
            <i class="material-icons">business_center</i>

            <span class="span">Services</span>
          </a>
        </li>

        <!-- <li>
          <a href="#" class="footer-link">
            <i class="material-icons">swap_horiz</i>

            <span class="span">Project</span>
          </a>
        </li>-->

        <li>
          <a href="#cta" class="footer-link">
            <i class="material-icons">call</i>

            <span class="span">Contact</span>
          </a>
        </li>

        <li>
          <a href="#blog" class="footer-link">
            <i class="material-icons">web</i>

            <span class="span">Blog</span>
          </a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Nuestros Servicios</p>
        </li>

        <li>
          <a href="#service" class="footer-link">
            <i class="material-icons">arrow_right</i>

            <span class="span">Periodoncia</span>
          </a>
        </li>

        <li>
          <a href="#service" class="footer-link">
            <i class="material-icons">arrow_right</i>

            <span class="span">Odontopediatría</span>
          </a>
        </li>

        <li>
          <a href="#service" class="footer-link">
            <i class="material-icons">arrow_right</i>

            <span class="span">Ortodoncia</span>
          </a>
        </li>

        <li>
          <a href="#service" class="footer-link">
            <i class="material-icons">arrow_right</i>

            <span class="span">Urgencias Odontológicas</span>
          </a>
        </li>

        <li>
          <a href="#service" class="footer-link">
            <i class="material-icons">arrow_right</i>

            <span class="span">Limpieza Denta</span>
          </a>
        </li>

        <li>
          <a href="#service" class="footer-link">
            <i class="material-icons">arrow_right</i>

            <span class="span">Implantes Dentales</span>
          </a>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="footer-list-title">Contactanos</p>
        </li>

        <li class="footer-item">
          <div class="item-icon">
            <i class="material-icons">location_on</i>
          </div>

          <address class="item-text">
            Av. Lizarzaburu y Agustin Torres, Riobamba 060102<br />
            Ecuador
          </address>
        </li>
        <li class="footer-item">
          <div class="item-icon">
            <i class="material-icons">location_on</i>
          </div>

          <address class="item-text">
            Av. Lizarzaburu Hospital General San Juan, 5to piso consultorio 504, Riobamba 060102<br />
            Ecuador
          </address>
        </li>
        <li class="footer-item">
          <div class="item-icon">
            <i class="material-icons">call</i>
          </div>

          <a href="tel:+917052101786" class="footer-link">+593 99 665 0158</a>
        </li>

        <li class="footer-item">
          <div class="item-icon">
            <i class="material-icons">email</i>
          </div>

          <a href="endosolutionsec@gmail.com" class="footer-link">Correo</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">&copy; 2024 Todos los derechso reservados.</p>

      <ul class="social-list">
        <!-- <li>
          <a class="social-link" href="https://www.instagram.com/endosolutionsec/" target="_blank">
            <i class="material-icons">Instagram</i>
          </a>
        </li> -->
            <li>
              <a class="social-link" href="https://www.tiktok.com/@endosolutionsec1" target="_blank">
                <i class="material-icons">tiktok</i>
              </a>
            </li>
            <li>
              <a class="social-link" href="https://www.facebook.com/ENDOsolutionsEC" target="_blank">
                <i class="material-icons">facebook</i>
              </a>
            </li>
          </ul>    
    </div>
  </div>
</footer>

<!--
    - #BACK TO TOP
  -->

<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
  <i class="material-icons">swap_horiz</i>
</a>
